@import url(http://fonts.googleapis.com/css?family=Lobster);

section {
    background-image: url('../img/happy_holiday.jpg');
    width: 1920px;
    height: 1200px;
    color:white;
    font-family: Lobster;
    position:relative;
    margin:auto;
}

h1 {
    font-size: 48px;
    position:absolute;
    margin:0;
    top:50px;
    left:340px;
}
h2 {
    font-size: 36px;
    position: absolute;
    margin: 0;
    top: 180px;
    left: 400px;
}
img {
    position: absolute;
    top: 20px;
    left: 12px;
}
body {
    background: #1215ff;
}